---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">
    <div class="mb-3 p-3">
      
      {{ content }}
      
    </div>
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="language_display" title="Translation Language" btn-color="outline-info" max="9" %}

    {% include index/featured-terms.html field="category" title="Category" btn-color="outline-secondary" max="9" %}
    
    {% include index/objects.html %}

    {% include index/time.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>