---
layout: default
item-meta: true
---
<div class="container py-3">

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse.html' | relative_url }}">Texts</a></li>
        <li class="breadcrumb-item active">{{ page.author | truncatewords: 10 }}</li>
    </ul>

    <div class="card my-4">
        <div class="card-body">
            <h1>{{ page.title }}</h1>
            <div class="ml-5 h4">{% if page.author %}{{ page.author }} | {% endif %}{{ page.date }} | {{ page.language_display }} | {{ page.category }}</div>
            {% if page.text_links_pipe %}
            <div class="ml-5 mt-3">
                Texts: 
                {% assign text_links = page.text_links_pipe | split: ";" %}
                {% for t in text_links %}
                <a target="_blank" rel="noopener" href="{{ t | split: '|' | last }}" class="btn btn-outline-dark m-1">{{ t | split: '|' | first }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>


    <div class="row justify-content-center">
        
        <div class="col-md-8">

            <p><small><em>Tinker's Review</em></small></p>
           
            <h2>{{ page.tinker_review_title }}</h2>

            <div class="card my-4">
                <div class="card-body">
                    <div class="m-3">{{ page.citation }}</div>
                    <hr>
                    <div class="m-3">{{ page.description }}</div>
                </div>
            </div>
            
            <div class="mb-3">{{ page.introduction }}</div>
            <div class="mb-3">{{ page.extract }}</div>
            <div class="mb-3">{{ page.criticism }}</div>
            <div class="mb-3">{{ page.footnotes }}</div>

            <hr>

        </div>
    </div>

    <div class="mt-4">
    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
    </div>

</div>